{% schema %}
{
  "name": "HK Company Section",
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "header_bg_image",
      "label": "Header Background Image",
      "info": "1920x1080 for standard resolution. 3840x2160 for 2x."
    },
    {
      "type": "image_picker",
      "id": "header_mobile_bg_image",
      "label": "Header Mobile Background Image (optional)"
    },
    {
      "type": "text",
      "id": "header_title",
      "label": "Header Title"
    },
    {
      "type": "richtext",
      "id": "header_text",
      "label": "Header Text"
    },
    {
      "type": "text",
      "id": "header_button_label",
      "label": "Header Button Label"
    },
    {
      "type": "url",
      "id": "header_button_link",
      "label": "Header Button Link"
    },
    {
      "type": "image_picker",
      "id": "our_mission_image",
      "label": "Our Mission Image"
    },
    {
      "type": "text",
      "id": "our_mission_title",
      "label": "Our Mission Title"
    },
    {
      "type": "richtext",
      "id": "our_mission_text",
      "label": "Our Mission Text"
    },
    {
      "type": "textarea",
      "id": "banner_title",
      "label": "Banner Title"
    },
    {
      "type": "richtext",
      "id": "banner_text",
      "label": "Banner Text"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "image_picker",
      "id": "we_do_bg_image",
      "label": "We Do Background Image"
    },
    {
      "type": "image_picker",
      "id": "we_do_image",
      "label": "We Do Image"
    },
    {
      "type": "image_picker",
      "id": "we_do_helmet_image",
      "label": "We Do Helmet Image"
    },
    {
      "type": "textarea",
      "id": "we_do_title_1",
      "label": "We Do Title 1"
    },
    {
      "type": "richtext",
      "id": "we_do_text_1",
      "label": "We Do Text 1"
    },
    {
      "type": "textarea",
      "id": "we_do_title_2",
      "label": "We Do Title 2"
    },
    {
      "type": "richtext",
      "id": "we_do_text_2",
      "label": "We Do Text 2"
    }
  ],
  "presets": [
    {
      "name": "HK Company Section"
    }
  ]
}
{% endschema %}

<section class="hk-company-section overflow-hidden relative">
  {% assign bg_image = section.settings.header_bg_image %}
  {% assign mobile_bg_image = section.settings.header_mobile_bg_image %}

  <picture class="hardknock-page-header__background">
    {% if mobile_bg_image != blank %}
      <source
        media="(max-width: 768px)"
        srcset="
          {{ mobile_bg_image | image_url: width: 375 }} 375w,
          {{ mobile_bg_image | image_url: width: 550 }} 550w,
          {{ mobile_bg_image | image_url: width: 750 }} 750w
        "
        sizes="100vw"
      >
    {% endif %}
    {% if bg_image != blank %}
      <source
        srcset="
          {{ bg_image | image_url: width: 750 }} 750w,
          {{ bg_image | image_url: width: 1100 }} 1100w,
          {{ bg_image | image_url: width: 1500 }} 1500w,
          {{ bg_image | image_url: width: 2000 }} 2000w
        "
        sizes="100vw"
      >
      <img
        src="{{ bg_image | image_url: width: 1500 }}"
        alt=""
        loading="eager"
        width="{{ bg_image.width }}"
        height="{{ bg_image.height }}"
        class="object-fit-cover"
      >
    {% endif %}
  </picture>
  <div class="container top-container page-width relative z-index-2">
    <div class="sub-featured-container side-margin-auto">
      <div class="header-text max-width-640">
        <h1 class="hardknock-page-header__title color-white mb-4">
          {{ section.settings.header_title }}
        </h1>

        {% if section.settings.header_text != blank %}
          <div class="hardknock-page-header__text color-white mb-5">
            {{ section.settings.header_text }}
          </div>
        {% endif %}
        {% if section.settings.header_button_label != blank %}
          <a href="{{ section.settings.header_button_link }}" class="button button--green">
            {{ section.settings.header_button_label }}
          </a>
        {% endif %}
      </div>
    </div>
    <div class="bg-white sub-featured-container side-margin-auto radius-15 v-pad-6 mt-8 lg-mt-10 mb-8">
      <div class="container page-width">
        <div class="our-mission-container flex-container flex-clear-1024 column-gap-80">
          {% if section.settings.our_mission_image != blank %}
            <div class="our-mission-image relative flex-basis-40 flex-shrink-0">
              {{
                section.settings.our_mission_image
                | image_url: width: 1200
                | image_tag:
                  widths: '600, 1200',
                  class: 'object-fit-cover',
                  loading: 'lazy',
                  sizes: '100vw',
                  alt: section.settings.our_mission_image.alt
              }}
            </div>
          {% endif %}
          <div class="text">
            <h2 class="h2 our-mission-title">Our Mission</h2>
            {% if section.settings.our_mission_text != blank %}
              <div class="our-mission-text">
                {{ section.settings.our_mission_text }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="our-team-banner relative flex-container align-center justify-center">
    <div class="container page-width center relative z-index-2 max-width-640">
      <h2 class="h1 our-team-title color-white mb-0">Our Team</h2>
      {% if section.settings.banner_text != blank %}
        <div class="our-team-text center color-white">
          {{ section.settings.banner_text }}
        </div>
      {% endif %}
    </div>
    {% if section.settings.banner_image != blank %}
      {{
        section.settings.banner_image
        | image_url: width: 2880
        | image_tag:
          widths: '700, 1100, 1400, 2880',
          class: 'object-fit-cover absolute-bg',
          loading: 'lazy',
          sizes: '100vw',
          alt: section.settings.banner_image.alt
      }}
    {% endif %}
  </div>

  <div class="we-do-section relative container page-width v-margin-8 lg-v-margin-10">
    {% if section.settings.we_do_bg_image != blank %}
      {{
        section.settings.we_do_bg_image
        | image_url: width: 2880
        | image_tag:
          widths: '700, 1100, 1400, 2880',
          class: 'object-fit-cover absolute-bg',
          loading: 'lazy',
          sizes: '100vw',
          alt: section.settings.we_do_bg_image.alt
      }}
    {% endif %}
    <div class="container page-width">
      <div class="we-do-content flex-container flex-clear-1024 column-gap-80">
        <div class="we-do-image">
          {{ section.settings.we_do_image | image_url: width: 1200 | image_tag: widths: '600, 1200' }}
        </div>
        <div class="we-do-text">
          <h2 class="h2 we-do-title">{{ section.settings.we_do_title_1 }}</h2>
          {{ section.settings.we_do_text_1 }}
        </div>
      </div>
      <div class="we-do-lower">
        <div class="we-do-helmet-container">
          {{ section.settings.we_do_helmet_image | image_url: width: 1200 | image_tag: widths: '600, 1200' }}
        </div>
        <div class="we-do-text-lower">
          <h2 class="h2 we-do-title">{{ section.settings.we_do_title_2 }}</h2>
          {{ section.settings.we_do_text_2 }}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .hardknock-page-header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .top-container {
    margin-top: 200px;
  }

  @media (min-width: 1025px) {
    .top-container {
      margin-top: 400px;
    }
  }

  .sub-featured-container {
    max-width: 1190px;
  }

  .sub-featured-container.bg-white {
    border-radius: 15px;
    position: relative;
  }

  .header-text > .container {
    padding-left: 0;
    padding-right: 0;
  }

  .our-mission-image {
    aspect-ratio: 1/1.32;
  }

  .our-team-banner {
    aspect-ratio: 1/0.52;
  }

  .our-team-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    width: 100%;
    height: 100%;
  }
</style>
