{% schema %}
{
  "name": "HK Careers Section",
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "text",
      "id": "benefits_title",
      "label": "Benefits Title",
      "default": "Hardknock Employee Benefits"
    },
    {
      "type": "text",
      "id": "positions_title",
      "label": "Positions Title",
      "default": "Available Positions"
    }
  ],
  "blocks": [
    {
      "type": "benefit",
      "name": "Benefit",
      "settings": [
        {
          "type": "text",
          "id": "benefit_title",
          "label": "Benefit Title",
          "default": "Benefit Title"
        },
        {
          "type": "richtext",
          "id": "benefit_description",
          "label": "Benefit Description"
        }
      ]
    },
    {
      "type": "position",
      "name": "Position",
      "settings": [
        {
          "type": "text",
          "id": "position_title",
          "label": "Position Title",
          "default": "Position Title"
        },
        {
          "type": "richtext",
          "id": "position_description",
          "label": "Position Description"
        },
        {
          "type": "url",
          "id": "position_link",
          "label": "Position Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "HK Careers Section",
      "blocks": [
        {
          "type": "position"
        }
      ]
    }
  ]
}
{% endschema %}

<section class="careers-section mt-6 lg-mt-7 mb-8 lg-mb-9">
  <div class="container page-width">
    <h2 class="h2 center mb-5 lg-mb-7">{{ section.settings.benefits_title }}</h2>
    <div class="benefits-text two-column-text mb-5 lg-mb-7">
      {% for block in section.blocks %}
        {% if block.type == 'benefit' %}
          <div class="benefit-item">
            <h2 class="h4 mb-2 mt-0">{{ block.settings.benefit_title }}</h2>
            <div class="benefit-description">
              {{ block.settings.benefit_description }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% if section.settings.positions_title != blank %}
      <h2 class="h2 center mb-5 lg-mb-7">{{ section.settings.positions_title }}</h2>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="positions-grid mb-5 lg-mb-7">
        {% for block in section.blocks %}
          {% if block.type == 'position' %}
            <div class="position-item">
              <h2 class="h4 mb-3">{{ block.settings.position_title }}</h2>
              {% if block.settings.position_description != blank %}
                <div class="position-description">
                  {{ block.settings.position_description }}
                </div>
              {% endif %}

              {% if block.settings.position_link != blank %}
                <a href="{{ block.settings.position_link }}" class="button mt-2"> Apply Now </a>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

<style>
  .benefits-text.two-column-text {
    column-gap: 75px;
  }
  .benefit-description p,
  .position-description p {
    margin-top: 0;
  }
  .positions-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 40px;
    row-gap: 90px;
  }

  @media (min-width: 768px) {
    .positions-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1025px) {
    .positions-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
