{% schema %}
{
  "name": "HK Company Section",
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "our_mission_image",
      "label": "Our Mission Image"
    },
    {
      "type": "text",
      "id": "our_mission_title",
      "label": "Our Mission Title"
    },
    {
      "type": "richtext",
      "id": "our_mission_text",
      "label": "Our Mission Text"
    },
    {
      "type": "textarea",
      "id": "banner_title",
      "label": "Banner Title"
    },
    {
      "type": "richtext",
      "id": "banner_text",
      "label": "Banner Text"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "image_picker",
      "id": "we_do_bg_image",
      "label": "We Do Background Image"
    },
    {
      "type": "image_picker",
      "id": "we_do_image",
      "label": "We Do Image"
    },
    {
      "type": "image_picker",
      "id": "we_do_helmet_image",
      "label": "We Do Helmet Image"
    },
    {
      "type": "textarea",
      "id": "we_do_title_1",
      "label": "We Do Title 1"
    },
    {
      "type": "richtext",
      "id": "we_do_text_1",
      "label": "We Do Text 1"
    },
    {
      "type": "textarea",
      "id": "we_do_title_2",
      "label": "We Do Title 2"
    },
    {
      "type": "richtext",
      "id": "we_do_text_2",
      "label": "We Do Text 2"
    }
  ],
  "presets": [
    {
      "name": "HK Company Section"
    }
  ]
}
{% endschema %}

<section class="hk-company-section relative">
  <div class="container top-container page-width relative z-index-2">
    <div class="bg-white-x sub-featured-container side-margin-auto radius-15">
      <div class="container page-width relative pt-3 lg-pt-6">
        <div class="our-mission-container flex-container flex-clear-1024 column-gap-80 relative z-index-2">
          {% if section.settings.our_mission_image != blank %}
            <div class="our-mission-image relative flex-basis-40 flex-shrink-0">
              <div class="white-border-image overflow-hidden">
                {{
                  section.settings.our_mission_image
                  | image_url: width: 1200
                  | image_tag:
                    widths: '600, 1200',
                    class: 'block radius-15',
                    loading: 'lazy',
                    sizes: '100vw',
                    alt: section.settings.our_mission_image.alt
                }}
              </div>
            </div>
          {% endif %}
          <div class="text">
            <h2 class="h1 our-mission-title mb-4">{{ section.settings.our_mission_title }}</h2>
            {% if section.settings.our_mission_text != blank %}
              <div class="our-mission-text">
                {{ section.settings.our_mission_text }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="our-team-banner relative flex-container align-center justify-center">
    <div class="container page-width center relative z-index-2 max-width-750">
      <h2 class="h1 our-team-title color-white mb-4">{{ section.settings.banner_title }}</h2>
      {% if section.settings.banner_text != blank %}
        <div class="our-team-text center color-white">
          {{ section.settings.banner_text }}
        </div>
      {% endif %}
    </div>
    {% if section.settings.banner_image != blank %}
      {{
        section.settings.banner_image
        | image_url: width: 2880
        | image_tag:
          widths: '700, 1100, 1400, 2880',
          class: 'object-fit-cover absolute-bg',
          loading: 'lazy',
          sizes: '100vw',
          alt: section.settings.banner_image.alt
      }}
    {% endif %}
  </div>

  <div class="we-do-section relative pt-6 pb-8 lg-pt-6 lg-pb-10">
    {% if section.settings.we_do_bg_image != blank %}
      {{
        section.settings.we_do_bg_image
        | image_url: width: 2880
        | image_tag:
          widths: '700, 1100, 1400, 2880',
          class: 'object-fit-cover absolute-bg',
          loading: 'lazy',
          sizes: '100vw',
          alt: section.settings.we_do_bg_image.alt
      }}
    {% endif %}
    <div class="container page-width relative z-index-1">
      <div class="we-do-content flex-container flex-clear-1024 row-reverse column-gap-80 space-between">
        <div class="we-do-image relative flex-basis-40 flex-shrink-0 white-border-image">
          {{
            section.settings.we_do_image
            | image_url: width: 1200
            | image_tag:
              widths: '600, 1200',
              class: 'block',
              loading: 'lazy',
              sizes: '100vw',
              alt: section.settings.we_do_image.alt
          }}
        </div>
        <div class="we-do-text max-width-640">
          <h2 class="h1 we-do-title mb-4">{{ section.settings.we_do_title_1 | newline_to_br }}</h2>
          {{ section.settings.we_do_text_1 }}
        </div>
      </div>
      <div class="we-do-lower mt-4 lg-mt-6">
        <div class="we-do-helmet-container max-width-750 side-margin-auto">
          {{
            section.settings.we_do_helmet_image
            | image_url: width: 1200
            | image_tag: widths: '600, 1200', class: 'block'
          }}
        </div>
        <div class="we-do-text-lower max-width-750 side-margin-auto center">
          <h2 class="h1 we-do-title">{{ section.settings.we_do_title_2 }}</h2>
          {{ section.settings.we_do_text_2 }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ 'hk-page-header-justify-end.css' | asset_url | stylesheet_tag }}

<style>
  @media (min-width: 1025px) {
    .our-team-banner {
      margin-top: -100px !important;
    }

    .we-do-image {
      margin-top: -80px;
    }
  }

  @media (min-width: 1440px) {
    .our-team-banner {
      margin-top: -160px !important;
    }

    .we-do-image {
      margin-top: -120px;
    }
  }

  .sub-featured-container {
    border-radius: 15px;
    position: relative;
  }

  .sub-featured-container .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fff;
    border-radius: 15px;
  }

  .header-text > .container {
    padding-left: 0;
    padding-right: 0;
  }

  .our-team-banner {
    aspect-ratio: 1/1;
  }

  .our-team-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .white-border-image {
    position: relative;
    border-radius: 22px;
    overflow: hidden;
    padding: 15px;
    background: #fff;
  }

  .white-border-image img {
    border-radius: 15px;
  }

  @media (min-width: 1025px) {
    .our-team-banner {
      aspect-ratio: 1/0.52;
    }
  }
</style>
