{% schema %}
{
  "name": "HK Company Section",
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "header_bg_image",
      "label": "Header Background Image",
      "info": "1920x1080 for standard resolution. 3840x2160 for 2x."
    },
    {
      "type": "image_picker",
      "id": "header_mobile_bg_image",
      "label": "Header Mobile Background Image (optional)"
    },
    {
      "type": "text",
      "id": "header_title",
      "label": "Header Title"
    },
    {
      "type": "richtext",
      "id": "header_text",
      "label": "Header Text"
    },
    {
      "type": "text",
      "id": "header_button_label",
      "label": "Header Button Label"
    },
    {
      "type": "url",
      "id": "header_button_link",
      "label": "Header Button Link"
    },
    {
      "type": "image_picker",
      "id": "our_mission_image",
      "label": "Our Mission Image"
    },
    {
      "type": "richtext",
      "id": "our_mission_text",
      "label": "Our Mission Text"
    },
    {
      "type": "richtext",
      "id": "our_team_text",
      "label": "Our Team Text"
    }
  ],
  "blocks": [
    {
      "type": "team_member",
      "name": "Team Member",
      "settings": [
        {
          "type": "text",
          "id": "team_member_name",
          "label": "Team Member Name",
          "default": "Team Member Name"
        },
        {
          "type": "text",
          "id": "team_member_position",
          "label": "Team Member Position",
          "default": "Team Member Position"
        },
        {
          "type": "textarea",
          "id": "team_member_description",
          "label": "Team Member Description"
        },
        {
          "type": "image_picker",
          "id": "team_member_image",
          "label": "Team Member Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "HK Company Section"
    }
  ]
}
{% endschema %}

<section class="hk-company-section overflow-hidden relative">
  {% assign bg_image = section.settings.header_bg_image %}
  {% assign mobile_bg_image = section.settings.header_mobile_bg_image %}

  <picture class="hardknock-page-header__background">
    {% if mobile_bg_image != blank %}
      <source
        media="(max-width: 768px)"
        srcset="
          {{ mobile_bg_image | image_url: width: 375 }} 375w,
          {{ mobile_bg_image | image_url: width: 550 }} 550w,
          {{ mobile_bg_image | image_url: width: 750 }} 750w
        "
        sizes="100vw"
      >
    {% endif %}
    {% if bg_image != blank %}
      <source
        srcset="
          {{ bg_image | image_url: width: 750 }} 750w,
          {{ bg_image | image_url: width: 1100 }} 1100w,
          {{ bg_image | image_url: width: 1500 }} 1500w,
          {{ bg_image | image_url: width: 2000 }} 2000w
        "
        sizes="100vw"
      >
      <img
        src="{{ bg_image | image_url: width: 1500 }}"
        alt=""
        loading="eager"
        width="{{ bg_image.width }}"
        height="{{ bg_image.height }}"
      >
    {% endif %}
  </picture>
  <div class="container top-container page-width relative z-index-2">
    <div class="sub-featured-container side-margin-auto">
      <div class="header-text max-width-640">
        <h1 class="hardknock-page-header__title color-white mb-4">
          {{ section.settings.header_title }}
        </h1>

        {% if section.settings.header_text != blank %}
          <div class="hardknock-page-header__text color-white mb-5">
            {{ section.settings.header_text }}
          </div>
        {% endif %}
        {% if section.settings.header_button_label != blank %}
          <a href="{{ section.settings.header_button_link }}" class="button button--primary">
            {{ section.settings.header_button_label }}
          </a>
        {% endif %}
      </div>
    </div>
    <div class="bg-white sub-featured-container side-margin-auto radius-15 v-pad-6 v-margin-8 lg-v-margin-10">
      <div class="container page-width">
        <div class="our-mission-container flex-container flex-clear-1024">
          {% if section.settings.our_mission_image != blank %}
            <div class="our-mission-image relative">
              {{
                section.settings.our_mission_image
                | image_url: width: 1200
                | image_tag:
                  widths: '600, 1200',
                  class: 'object-fit-cover',
                  loading: 'lazy',
                  sizes: '100vw',
                  alt: section.settings.our_mission_image.alt
              }}
            </div>
          {% endif %}
          {% if section.settings.our_mission_title != blank %}
            <h2 class="h3 our-mission-title">
              {{ section.settings.our_mission_title }}
            </h2>
          {% endif %}
          {% if section.settings.our_mission_text != blank %}
            <div class="our-mission-text">
              {{ section.settings.our_mission_text }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="our-team-banner relative">
    <div class="container page-width center">
      <h2 class="h2 our-team-title color-white">Our Team</h2>
      {% if section.settings.our_team_text != blank %}
        <div class="our-team-text center color-white">
          {{ section.settings.our_team_text }}
        </div>
      {% endif %}
    </div>
    {% if section.settings.our_team_image != blank %}
      {{
        section.settings.our_team_image
        | image_url: width: 2880
        | image_tag:
          widths: '700, 1100, 1400, 2880',
          class: 'object-fit-cover absolute-bg',
          loading: 'lazy',
          sizes: '100vw',
          alt: section.settings.our_team_image.alt
      }}
    {% endif %}
  </div>

  <div class="our-team-grid">
    {% for block in section.blocks %}
      {% if block.type == 'team_member' %}
        {% render 'team-member-item', block: block %}
      {% endif %}
    {% endfor %}
  </div>
</section>

<style>
  .hardknock-page-header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .top-container {
    margin-top: 200px;
  }

  @media (min-width: 1025px) {
    .top-container {
      margin-top: 400px;
    }
  }

  .sub-featured-container {
    max-width: 1190px;
  }

  .sub-featured-container.bg-white {
    border-radius: 15px;
    background: #fffcfc;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
    position: relative;
  }

  .sub-featured-container.bg-white::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px;
    height: 400px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 50%, white);
    pointer-events: none;
    z-index: 0;
  }

  .sub-featured-container.bg-white::before {
    content: '';
    position: absolute;
    left: 50%;
    right: 0;
    bottom: -30px;
    background: #000;
    width: 500px;
    height: 1px;
    transform: translateX(-50%);
    z-index: 1;
  }

  .header-text > .container {
    padding-left: 0;
    padding-right: 0;
  }

  .block-quote {
    max-width: 682px;
    margin-left: auto;
    margin-right: auto;
  }

  .block-quote h2 {
    font-weight: 400;
    line-height: 1.5;
  }

  .sub-featured-testimonial .image {
    border: 2px solid var(--color-green);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }

  .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  @media (min-width: 1025px) {
    .sub-featured-testimonial:nth-child(odd) > .flex-container {
      flex-direction: row-reverse;
    }

    .sub-featured-testimonial:first-child .image {
      margin-right: -160px;
      margin-top: -160px;
    }

    .sub-featured-testimonial:last-child .image {
      margin-left: -160px;
    }

    .testimonials-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (min-width: 1300px) {
    /* .sub-featured-container {
      margin-top: 200px !important;
    } */

    .sub-featured-testimonial:first-child .image {
      margin-right: -180px;
      margin-top: -200px;
      flex-basis: 65%;
    }

    .sub-featured-testimonial:last-child .image {
      margin-left: -180px;
      /* margin-bottom: -200px; */
      flex-basis: 65%;
    }
  }

  .testimonials-landing-page .title.hairline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .testimonials-landing-page .title.hairline::before,
  .testimonials-landing-page .title.hairline::after {
    content: '';
    height: 1px;
    background-color: var(--color-grey);
    flex: 1;
  }

  .testimonials-carousel .testimonial-item {
    width: 80%;
    margin-right: 32px;
  }

  @media (min-width: 768px) {
    .testimonials-carousel .testimonial-item {
      width: 50%;
      margin-right: 48px;
    }
  }

  @media (min-width: 1025px) {
    .testimonials-carousel .testimonial-item {
      width: 30%;
      margin-right: 48px;
    }
  }

  .testimonials-carousel .flickity-viewport {
    overflow: visible;
  }

  .product-testimonials__item {
    width: 100%;
    flex-basis: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .product-testimonials__item .text {
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
  }

  .testimonial-image {
    padding: 0px;
    max-width: 260px;
    margin-bottom: 20px;
    align-self: center;
  }

  .testimonial-image img {
    aspect-ratio: 1 / 1;
    position: relative;
  }

  .quote-background-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .block-quote-container {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: -50px;
  }

  @media (min-width: 750px) {
    .block-quote-container {
      margin-left: -5rem;
      margin-right: -5rem;
      margin-bottom: -100px;
    }
  }
</style>
