{% schema %}
{
  "name": "HK How It Works",
  "presets": [
    {
      "name": "HK How It Works"
    }
  ]
}
{% endschema %}

<section class="how-it-works-section image-text-section text-right relative v-pad-8">
  {% if settings.how_it_works_bg != blank %}
    <div class="image">
      {{
        settings.how_it_works_bg
        | image_url: width: 3000
        | image_tag: widths: '1500, 2000, 3000', class: 'object-fit-contain', loading: 'lazy', sizes: '100vw'
      }}
    </div>
  {% endif %}

  <div class="container page-width relative">
    <div class="inner radius-15 flex-container flex-clear-1023">
      <div class="text">
        <h2 class="h6 uppercase mb-2">How It Works</h2>
        <h2 class="h2 mt-0">Nuro Technology</h2>
        {% if settings.how_it_works_text != blank %}
          <div class="copy mt-4">
            {{ settings.how_it_works_text }}
          </div>
        {% endif %}
        <div class="callouts flex-container mt-6">
          <div class="callout">
            <img src="{{ 'icon-flex.png' | asset_url }}" alt="Flex Icon" class="icon" width="80" height="80">
            <h2 class="h6 uppercase mb-4">Flex</h2>
            <p>{{ settings.how_it_works_flex_text }}</p>
          </div>
          <div class="callout">
            <img src="{{ 'icon-crumple.png' | asset_url }}" alt="Crumple Icon" class="icon" width="80" height="80">
            <h2 class="h6 uppercase mb-4">Crumple</h2>
            <p>{{ settings.how_it_works_crumple_text }}</p>
          </div>
          <div class="callout">
            <img src="{{ 'icon-glide.png' | asset_url }}" alt="Glide Icon" class="icon" width="80" height="80">
            <h2 class="h6 uppercase mb-4">Glide</h2>
            <p>{{ settings.how_it_works_glide_text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .image-text-section .callouts {
    column-gap: 24px;
  }

  .image-text-section .callouts .callout {
    flex: 1;
    min-width: 0;
  }

  .image-text-section .callouts .callout .icon {
    max-width: 60px;
    height: auto !important;
    display: block;
    margin-bottom: 20px;
  }

  .image-text-section.text-right .image img {
    object-position: left center;
  }

  .image-text-section .inner {
    border: 1px solid var(--color-blue);
    padding: var(--gutter-sm);
    /* margin: var(--gutter-sm); */
  }

  @media (max-width: 1024px) {
    .image-text-section .image {
      position: relative;
      aspect-ratio: auto;
      margin-bottom: 40px;
    }

    .image-text-section .image img {
      position: relative;
    }
  }

  @media (min-width: 1025px) {
    .image-text-section .image {
      position: absolute;
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
    }

    .image-text-section > .container {
      z-index: 1;
    }

    .image-text-section.text-right .flex-container {
      justify-content: flex-end;
    }

    .image-text-section .text {
      flex-basis: 50%;
    }

    .image-text-section .callouts .callout .icon {
      max-width: 80px;
      margin-bottom: 40px;
    }
  }
</style>
