{% schema %}
{
  "name": "HK Mission Section",
  "enabled_on": {
    "templates": ["index"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Upper Section"
    },
    {
      "type": "text",
      "id": "upper_pre_title",
      "label": "Pre Title",
      "default": "Our Mission"
    },
    {
      "type": "text",
      "id": "upper_title",
      "label": "Title",
      "default": "We Reduce Head Injuries in the Workplace"
    },
    {
      "type": "richtext",
      "id": "upper_body",
      "label": "Body Text"
    },
    {
      "type": "url",
      "id": "upper_button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "upper_button_text",
      "label": "Button Text",
      "default": "Learn More"
    },
    {
      "type": "image_picker",
      "id": "upper_image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Lower Section"
    },
    {
      "type": "text",
      "id": "lower_pre_title",
      "label": "Pre Title",
      "default": "Our Promise"
    },
    {
      "type": "text",
      "id": "lower_title",
      "label": "Title",
      "default": "Deliver Superior Technology Backed by Science"
    },
    {
      "type": "richtext",
      "id": "lower_body",
      "label": "Body Text"
    },
    {
      "type": "url",
      "id": "lower_button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "lower_button_text",
      "label": "Button Text",
      "default": "Learn More"
    },
    {
      "type": "image_picker",
      "id": "lower_image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "HK Mission Section"
    }
  ]
}
{% endschema %}

<section class="mission-section">
  <div class="page-width">
    <div class="mission-upper page-width">
      <div class="mission-image">
        {% if section.settings.upper_image != blank %}
          {% capture alt_text %}{% render 'image-alt-fallback', image: section.settings.upper_image %}{% endcapture %}
          {% assign alt_text = alt_text | strip %}
          {{ section.settings.upper_image | image_url: width: 800 | image_tag: loading: 'lazy', class: 'block', alt: alt_text }}
        {% endif %}
      </div>

      <div class="text">
        {% if section.settings.upper_pre_title != blank %}
          <h2 class="h5 uppercase pre-title color-black-light mb-2">{{ section.settings.upper_pre_title }}</h2>
        {% endif %}

        {% if section.settings.upper_title != blank %}
          <h2 class="h2 color-black-light v-margin-4">{{ section.settings.upper_title }}</h2>
        {% endif %}

        {% if section.settings.upper_body != blank %}
          <div class="body-text mb-4">{{ section.settings.upper_body }}</div>
        {% endif %}

        {% if section.settings.upper_button_link != blank and section.settings.upper_button_text != blank %}
          <a href="{{ section.settings.upper_button_link }}" class="button">
            {{ section.settings.upper_button_text }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  
  {% comment %} <div class="mission-lower-container overflow-hidden">
    <div class="mission-lower page-width align-center flex-container flex-clear-960">
      <div class="text flex-basis-50 flex-grow-0 flex-shrink-0 mt-6 md-mt-0">
        {% if section.settings.lower_pre_title != blank %}
          <h2 class="h5 uppercase pre-title color-black-light mb-2">{{ section.settings.lower_pre_title }}</h2>
        {% endif %}

        {% if section.settings.lower_title != blank %}
          <h2 class="h2 color-black-light v-margin-4">{{ section.settings.lower_title }}</h2>
        {% endif %}

        {% if section.settings.lower_body != blank %}
          <div class="body-text mb-4">{{ section.settings.lower_body }}</div>
        {% endif %}

        {% if section.settings.lower_button_link != blank and section.settings.lower_button_text != blank %}
          <a href="{{ section.settings.lower_button_link }}" class="button">
            {{ section.settings.lower_button_text }}
          </a>
        {% endif %}
      </div>

      <div class="mission-image">
        {% if section.settings.lower_image != blank %}
          {% capture alt_text %}{% render 'image-alt-fallback', image: section.settings.lower_image %}{% endcapture %}
          {% assign alt_text = alt_text | strip %}
          {{ section.settings.lower_image | image_url: width: 800 | image_tag: loading: 'lazy', class: 'block', alt: alt_text }}
        {% endif %}
      </div>
    </div>
  </div> {% endcomment %}
</section>

<style>
  .mission-section {
    margin-top: -10vh;
    position: relative;
    z-index: 2;
  }

  @media screen and (min-width: 768px) {
    .mission-section {
      margin-top: -15vh;
    }
  }

  .mission-upper {
    padding: 40px;
    border-radius: 14px;
    /* border: 3px solid #000; */
    background: #d9d9d9;
  }

  @media screen and (min-width: 961px) {
    .mission-section {
      padding: 4rem 0;
      margin-top: -10vh;
      position: relative;
      z-index: 2;
    }
    .mission-upper {
      display: flex;
      gap: 32px;
      align-items: center;
      position: relative;
      justify-content: flex-end;
      margin-bottom: 150px;
      padding: 60px 80px;
    }

    .mission-upper .text {
      flex-basis: 50%;
    }

    .mission-upper .mission-image {
      position: absolute;
      top: 40px;
      left: -120px;
      width: calc(50% + (120px - 32px));
      margin: 0;
    }

    .mission-lower {
      position: relative;
      overflow: visible;
    }

    .mission-lower .mission-image {
      position: relative;
      width: calc(50% + 120px);
      margin-right: -120px;
    }
  }
</style>
