{% schema %}
{
  "name": "HK News Landing",
  "enabled_on": {
    "templates": ["page", "blog"]
  },
  "settings": [
    {
      "type": "article",
      "id": "featured_post",
      "label": "Featured Blog Post",
      "info": "If no post is selected, the most recent post will be displayed."
    }
  ],
  "presets": [
    {
      "name": "HK News Landing"
    }
  ]
}
{% endschema %}

{% assign featured_post = section.settings.featured_post | default: blogs.news.articles.first %}

<div class="hardknock-page-header inner-content-style-true inner-content-text-position-top-left">
  {% assign bg_image = settings.blog_page_header_bg %}
  {% assign mobile_bg_image = settings.blog_page_header_bg_mobile %}

  <picture class="hardknock-page-header__background">
    {% if mobile_bg_image != blank %}
      <source
        media="(max-width: 768px)"
        srcset="
          {{ mobile_bg_image | image_url: width: 375 }} 375w,
          {{ mobile_bg_image | image_url: width: 550 }} 550w,
          {{ mobile_bg_image | image_url: width: 750 }} 750w
        "
        sizes="100vw"
      >
    {% endif %}
    {% if bg_image != blank %}
      <source
        srcset="
          {{ bg_image | image_url: width: 750 }} 750w,
          {{ bg_image | image_url: width: 1100 }} 1100w,
          {{ bg_image | image_url: width: 1500 }} 1500w,
          {{ bg_image | image_url: width: 2000 }} 2000w
        "
        sizes="100vw"
      >
      <img
        src="{{ bg_image | image_url: width: 1500 }}"
        alt=""
        loading="eager"
        width="{{ bg_image.width }}"
        height="{{ bg_image.height }}"
      >
    {% endif %}
  </picture>

  <div class="hardknock-page-header__container page-width ">
    <div class="inner relative">
      <div class="hardknock-page-header__content relative z-index-1">
        <h1 class="hardknock-page-header__title color-white">
          {{ featured_post.title }}
        </h1>

        <div class="hardknock-page-header__text color-white">
          {% assign excerpt = featured_post.excerpt | default: featured_post.content | strip_html | truncate: 200 %}
          <p>{{ excerpt }}</p>
        </div>

        <a href="{{ featured_post.url }}" class="button button--green">Read Story</a>
      </div>

      <div class="hardknock-page-header__inner-content-background">
        {{
          featured_post.image
          | image_url: width: 1400
          | image_tag:
            widths: '700, 1100, 1400',
            class: 'object-fit-cover',
            loading: 'lazy',
            sizes: '100vw',
            alt: featured_post.image.alt
        }}
      </div>
    </div>
  </div>
</div>

<div class="page-width sub-featured-posts">
  {% assign post_count = 0 %}
  {% assign sub_featured_posts = null | sort %}

  <div class="sub-featured-posts__grid">
    {% for article in blogs.news.articles %}
      {% if article.id != featured_post.id and post_count < 2 %}
        {% render 'news-grid-item', article: article %}
        {% assign id = article.id | sort %}
        {% assign sub_featured_posts = sub_featured_posts | concat: id %}
        {% assign post_count = post_count | plus: 1 %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="page-width main-posts-grid mt-6 mb-8 lg-mb-10">
  <div class="main-posts-grid__grid">
    {% for article in blogs.news.articles %}
      {% unless article.id == featured_post.id or sub_featured_posts contains article.id %}
        {% render 'news-grid-item', article: article %}
      {% endunless %}
    {% endfor %}
  </div>
</div>

{{ 'hk-page-header.css' | asset_url | stylesheet_tag }}

<style>
  .sub-featured-posts__grid,
  .main-posts-grid__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding: 0 20px;
  }

  @media (min-width: 768px) {
    .sub-featured-posts__grid,
    .main-posts-grid__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }

  @media (min-width: 1025px) {
    .main-posts-grid__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .sub-featured-posts__grid .news-grid-item .image {
    aspect-ratio: 1/0.56;
  }

  .main-posts-grid__grid .news-grid-item .image {
    aspect-ratio: 1/0.56;
  }

  .news-grid-item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .news-grid-item__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .news-grid-item .button {
    margin-top: auto;
    align-self: flex-start;
  }
</style>
