{% schema %}
{
  "name": "HK Products Carousel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Products"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "Products"
    }
  ],
  "presets": [
    {
      "name": "HK Products Carousel"
    }
  ]
}
{% endschema %}

{% if section.settings.products != blank %}
  <section class="product-slider-section side-margin-auto relative z-index-0 pb-1">
    <div class="container page-width">
      <h2 class="h1 product-features__title mb-6 lg-mb-8 mt-0">{{ section.settings.title }}</h2>
      <product-slider>
        <div class="product-slider swiper">
          <div class="swiper-wrapper">
            {% for product in section.settings.products %}
              <div class="product-slider__item swiper-slide radius-20 overflow-hidden">
                {% if product.featured_image != blank %}
                  <div class="product-slider__item-image relative">
                    {% capture alt_text %}{% render 'image-alt-fallback', image: product.featured_image %}{% endcapture %}
                    {% assign alt_text = alt_text | strip %}
                    {{
                      product.featured_image
                      | image_url: width: 760
                      | image_tag:
                        widths: '380, 760',
                        class: 'product-slider__item-image__image object-fit-contain',
                        loading: 'lazy',
                        sizes: '100vw',
                        alt: alt_text
                    }}
                  </div>
                {% endif %}

                <div class="text">
                  {% if product.title != blank %}
                    <h2 class="h3 product-slider__item-title mt-0 mb-2">{{ product.title }}</h2>
                  {% endif %}
                  <h2 class="h5 product-price">{{ product.price | money }}</h2>

                  {% if product.description != blank %}
                    <div class="product-slider__item-text mb-4">
                      <p>{{ product.description | strip_html | truncate: 100 }}</p>
                    </div>
                  {% endif %}

                  <a href="{{ product.url }}" class="button product-slider__item-link width-auto">Learn More</a>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </product-slider>
    </div>
  </section>
{% endif %}

<style>
  .product-slider-section {
    margin-top: -315px;
    padding-top: 315px;
    overflow: hidden;
  }

  .product-slider {
    position: relative;
    /* padding-bottom: 60px; */
  }

  .product-slider__item {
    width: 100%;
    flex-basis: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .product-slider__item .text {
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .product-slider__item .text .button {
    width: fit-content;
    align-self: flex-start;
  }

  .product-slider__item-link {
    margin-top: auto;
  }

  .product-slider__item .product-slider__item-image {
    aspect-ratio: 1 / 0.62;
    /* padding: 40px; */
    /* background-color: #000; */
  }
  .product-slider__item .product-slider__item-image img {
    padding: 20px;
    box-sizing: border-box;
  }

  @media(min-width: 1200px) {
    .product-slider__item .product-slider__item-image img {
      padding: 40px;
    }
  }

  .product-slider-section .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .product-slider-section .background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
  }

  .swiper-pagination-bullet {
    background: #fff;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
  }

  .product-slider.swiper {
    width: 100%;
    overflow: visible;
  }

  .swiper-wrapper {
    display: flex;
  }

  .product-slider__item.swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    height: auto !important;
  }
</style>

<script>
  class ProductSlider extends HTMLElement {
    constructor() {
      super();
      window.addEventListener('load', () => {
        this.slider = new Swiper(this.querySelector('.swiper'), {
          slidesPerView: 1.2,
          centeredSlides: false,
          spaceBetween: 20,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          breakpoints: {
            768: {
              slidesPerView: 2.2,
              spaceBetween: 30,
            },
            1024: {
              slidesPerView: 3.5,
              spaceBetween: 40,
            },
          },
        });
      });
    }
  }
  customElements.define('product-slider', ProductSlider);
</script>
