{% schema %}
{
  "name": "HK Page Header",
  "enabled_on": {
    "templates": ["index", "page"]
  },
  "settings": [
    {
      "type": "html",
      "id": "title",
      "label": "Title",
      "default": "Page <span style=\"color: #CFD821;\">Title</span>",
      "info": "Use HTML spans with style=\"color: #hexcode;\" for colored text"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Add your content here</p>"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image",
      "info": "1920x1080 for standard resolution. 3840x2160 for 2x."
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Mobile Background Image (optional)"
    },
    {
      "type": "checkbox",
      "id": "inner_content_style",
      "label": "Inner Content Style",
      "default": false,
      "info": "If enabled, the content will be inside the header container with an additional background image. Use for layouts like Awards and Careers."
    },
    {
      "type": "image_picker",
      "id": "inner_content_background_image",
      "label": "Inner Content Background Image",
      "info": "1440x690 for standard resolution. 2880x1380 for 2x."
    },
    {
      "type": "select",
      "id": "inner_content_text_position",
      "label": "Inner Content Text Position",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-right",
          "label": "Top Right"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Click Here"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "options": [
            {
              "value": "green",
              "label": "Green"
            },
            {
              "value": "black",
              "label": "Black"
            }
          ],
          "default": "green"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "HK Page Header",
      "blocks": [
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}

<div class="hardknock-page-header inner-content-style-{{ section.settings.inner_content_style }} inner-content-text-position-{{ section.settings.inner_content_text_position }}">
  {% assign bg_image = section.settings.background_image %}
  {% assign mobile_bg_image = section.settings.mobile_background_image %}

  <picture class="hardknock-page-header__background">
    {% if mobile_bg_image != blank %}
      <source
        media="(max-width: 768px)"
        srcset="
          {{ mobile_bg_image | image_url: width: 375 }} 375w,
          {{ mobile_bg_image | image_url: width: 550 }} 550w,
          {{ mobile_bg_image | image_url: width: 750 }} 750w
        "
        sizes="100vw"
      >
    {% endif %}
    {% if bg_image != blank %}
      <source
        srcset="
          {{ bg_image | image_url: width: 750 }} 750w,
          {{ bg_image | image_url: width: 1100 }} 1100w,
          {{ bg_image | image_url: width: 1500 }} 1500w,
          {{ bg_image | image_url: width: 2000 }} 2000w
        "
        sizes="100vw"
      >
      <img
        src="{{ bg_image | image_url: width: 1500 }}"
        alt=""
        loading="eager"
        width="{{ bg_image.width }}"
        height="{{ bg_image.height }}"
      >
    {% endif %}
  </picture>

  <div class="hardknock-page-header__container page-width ">
    <div class="inner relative">
      <div class="hardknock-page-header__content relative z-index-1">
        <h1 class="hardknock-page-header__title color-white">
          {{ section.settings.title }}
        </h1>

        {% if section.settings.content != blank %}
          <div class="hardknock-page-header__text color-white">
            {{ section.settings.content }}
          </div>
        {% endif %}

        {% if section.blocks.size > 0 %}
          <div class="hardknock-page-header__buttons">
            {% for block in section.blocks %}
              {% if block.type == 'button' %}
                <a
                  href="{{ block.settings.button_link }}"
                  class="button button--{{ block.settings.button_style }}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.button_text }}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
      {% if section.settings.inner_content_style and section.settings.inner_content_background_image != blank %}
        <div class="hardknock-page-header__inner-content-background">
          {{
            section.settings.inner_content_background_image
            | image_url: width: 1400
            | image_tag:
              widths: '700, 1100, 1400',
              class: 'object-fit-cover',
              loading: 'lazy',
              sizes: '100vw',
              alt: section.settings.inner_content_background_image.alt
          }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .hardknock-page-header {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color: #000;
  }

  .hardknock-page-header__background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hardknock-page-header__background:after {
    content: '';
    position: absolute;
    top: 0%;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .hardknock-page-header__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .hardknock-page-header__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hardknock-page-header__content {
    position: relative;
    max-width: var(--container-width);
    max-width: 565px;
  }

  .hardknock-page-header__buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 30px;
  }

  .hardknock-page-header.inner-content-style-true {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
  }

  .hardknock-page-header.inner-content-style-true .hardknock-page-header__container {
    position: relative;
    z-index: 1;
    height: auto;

    /* max-width: 100%; */
    width: 100%;
  }

  .hardknock-page-header.inner-content-style-true .hardknock-page-header__container .inner {
    background-color: #fff;
    border-radius: 15px;
    padding: calc(1.5rem + 20px);
    aspect-ratio: 1/0.48;
  }

  .hardknock-page-header.inner-content-style-true .hardknock-page-header__background {
    height: 75%;
  }

  .hardknock-page-header__inner-content-background {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    z-index: 0;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
  }

  .hardknock-page-header__inner-content-background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }

  @media (min-width: 750px) {
    .hardknock-page-header.inner-content-style-true .hardknock-page-header__container .inner {
      padding: calc(5rem + 20px);
    }
  }

  @media (max-width: 749px) {
    .hardknock-page-header.inner-content-style-true .hardknock-page-header__container .inner {
      padding-bottom: 60px;
    }
  }

  @media (min-width: 1025px) {
    .hardknock-page-header {
      min-height: 800px;
    }
  }
</style>
