{% schema %}
{
  "name": "HK Products List",
  "enabled_on": {
    "templates": ["collection"]
  },
  "presets": [
    {
      "name": "HK Products List"
    }
  ]
}
{% endschema %}

<section class="hk-products-list-section top-container pb-6 lg-pb-8 relative z-index-1">
  {% if collection.products.size > 0 %}
    <div class="hk-products-list page-width">
      {% for product in collection.products %}
        <div class="hk-product-card">
          {% assign bg_image = product.metafields.custom.collection_background_image %}

          <div class="hk-product-card__background relative radius-15 overflow-hidden">
            {% if bg_image %}
              {% capture alt_text %}{% render 'image-alt-fallback', image: bg_image %}{% endcapture %}
              {% assign alt_text = alt_text | strip %}
              {{
                bg_image
                | image_url: width: 1400
                | image_tag:
                  widths: '700, 1100, 1400',
                  class: 'hk-product-card__background-image object-fit-cover',
                  loading: 'lazy',
                  sizes: '100vw',
                  alt: alt_text
              }}
            {% endif %}
            <div class="hk-product-card__content flex-container page-width relative z-index-1">
              <div class="hk-product-card__text mt-6 lg-mt-8 mb-7 lg-mb-0 scroll-trigger animate--slide-in" style="--animation-order: 0;">
                <h2 class="h5 uppercase hk-product-card__pretitle color-white mb-2">Hardknock</h2>
                <h2 class="h2 hk-product-card__title color-white mt-0 mb-2">{{ product.title }}</h2>
                <div class="hk-product-card__description color-white">
                  {{ product.description | strip_html | truncate: 150 }}
                </div>
              </div>
            </div>
          </div>
          <div class="hk-product-card__content lower page-width flex-container flex-clear-1024 column-gap-60 scroll-trigger animate--slide-in" style="--animation-order: 1;">
            <div class="hk-product-card__image relative z-index-2">
              {% if product.featured_image %}
                {% capture alt_text %}{% render 'image-alt-fallback', image: product.featured_image %}{% endcapture %}
                {% assign alt_text = alt_text | strip %}
                {{
                  product.featured_image
                  | image_url: width: 760
                  | image_tag:
                    widths: '380, 760, 1400',
                    class: 'product__image block',
                    loading: 'lazy',
                    sizes: '380px',
                    alt: alt_text
                }}
              {% endif %}
            </div>

            <div class="hk-product-card__content-lower pt-4 lg-pt-6 scroll-trigger animate--slide-in" style="--animation-order: 2;">
              {% if product.metafields.custom.collection_description.value != blank %}
                <div class="hk-product-card__bullets">
                  <h2 class="h5">Pro Features</h2>
                  {{ product.metafields.custom.collection_description | metafield_tag }}
                </div>
              {% elsif product.metafields.custom.features != blank %}
                <div class="hk-product-card__bullets">
                  <h2 class="h5">Pro Features</h2>
                  <ul>
                    {% for feature in product.metafields.custom.features.value %}
                      <li>{{ feature.title }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              <a href="{{ product.url }}" class="button">Learn More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="hk-products-empty">
      <p>No products found in this collection</p>
    </div>
  {% endif %}
</section>

{{ 'hk-page-header-justify-end.css' | asset_url | stylesheet_tag }}

<style>
  .hk-product-card:not(:last-child) {
    margin-bottom: 60px;
  }

  .hk-product-card__text {
    max-width: 400px;
    flex-basis: 400px;
  }

  .hk-product-card__background {
    border: 3px solid var(--color-green);
    /* aspect-ratio: 1/0.9; */
  }

  .hk-product-card:nth-child(even) .hk-product-card__content {
    flex-direction: row-reverse;
  }

  .hk-product-card__image {
    max-width: 515px;
    width: 70%;
    margin-top: -50px;
  }

  @media (min-width: 768px) {
    .hk-product-card__image {
      margin-top: -100px;
    }

    .hk-product-card__background {
      aspect-ratio: 1/0.9;
    }
  }

  @media (min-width: 1025px) {
    .hk-product-card:nth-child(even) .hk-product-card__text,
    .hk-product-card:nth-child(even) .hk-product-card__image {
      margin-right: 60px;
    }
    .hk-product-card:not(:last-child) {
      margin-bottom: 80px;
    }
    .hk-product-card__image {
      width: 50%;
      margin-top: -150px;
    }
    .hk-product-card__background {
      aspect-ratio: 1/0.4;
    }
  }
</style>
