{% schema %}
{
  "name": "HK Type 1 vs Type 2",
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Mobile Background Image"
    },
    {
      "type": "text",
      "id": "intro_title",
      "label": "Intro Title",
      "default": "Intro Title"
    },
    {
      "type": "richtext",
      "id": "intro_text",
      "label": "Intro Text",
      "default": "<p>Add your intro text here</p>"
    },
    {
      "type": "text",
      "id": "lower_title",
      "label": "Lower Title",
      "default": "Lower Title"
    },
    {
      "type": "richtext",
      "id": "lower_text",
      "label": "Lower Text",
      "default": "<p>Add your lower text here</p>"
    }
  ],
  "blocks": [
    {
      "type": "comparison_block",
      "name": "Comparison Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Block Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Add your block text here</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "HK Type 1 vs Type 2",
      "blocks": [
        {
          "type": "comparison_block"
        }
      ]
    }
  ]
}
{% endschema %}

<div class="type1-vs-type2 relative v-pad-lg">
  <div class="relative">
    {% if section.settings.background_image or section.settings.mobile_background_image %}
      <div class="absolute-bg">
        <picture>
          {% if section.settings.mobile_background_image %}
            <source
              media="(max-width: 749px)"
              srcset="{{ section.settings.mobile_background_image | image_url: width: 750 }}"
            >
          {% endif %}
          {% if section.settings.background_image %}
            <img
              src="{{ section.settings.background_image | image_url: width: 2000 }}"
              alt="{{ section.settings.background_image.alt | escape }}"
              class="object-fit-cover"
              loading="lazy"
              width="{{ section.settings.background_image.width }}"
              height="{{ section.settings.background_image.height }}"
            >
          {% endif %}
        </picture>
      </div>
    {% endif %}

    <div class="page-width">
      <div class="intro-text center max-width-640 side-margin-auto">
        {% if section.settings.intro_title != blank %}
          <h2 class="h1 mb-4 color-white">{{ section.settings.intro_title }}</h2>
        {% endif %}

        {% if section.settings.intro_text != blank %}
          <div class="rte mb-6 color-white">
            {{ section.settings.intro_text }}
          </div>
        {% endif %}
      </div>

      {% if section.blocks.size > 0 %}
        <div class="grid grid--{{ section.blocks.size }}-col-desktop grid--2-col-tablet-down max-width-1200 side-margin-auto gap-20">
          {% for block in section.blocks %}
            <div class="grid__item" {{ block.shopify_attributes }}>
              {% if block.settings.title != blank %}
                <h2 class="h4 mb-3 color-white uppercase">{{ block.settings.title }}</h2>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="rte color-white">
                  {{ block.settings.text }}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="lower-text center max-width-640 side-margin-auto mt-7 lg-mt-10">
        {% if section.settings.lower_title != blank %}
          <h2 class="h1 mb-4 color-white">{{ section.settings.lower_title }}</h2>
        {% endif %}

        {% if section.settings.lower_text != blank %}
          <div class="rte mb-6 color-white">
            {{ section.settings.lower_text }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
  .absolute-bg {
    height: 65%;
  }

  .absolute-bg:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    height: 20%;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }

  .absolute-bg:after {
    content: '';
    position: absolute;
    z-index: 1;
    height: 40%;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }
  .type1-vs-type2 {
    background: #000;
    color: var(--color-white);
  }

  .type1-vs-type2 .page-width {
    position: relative;
    z-index: 1;
  }

  .grid {
    margin-top: 30%;
  }

  .grid__item {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (max-width: 640px) {
    .grid--2-col-tablet-down {
      display: block;
    }
    .grid--2-col-tablet-down .grid__item {
      width: 100% !important;
      max-width: none;
      margin-bottom: 40px;
    }

    .absolute-bg {
      filter: brightness(0.6);
    }
  }
</style>
